# --- Requisitos del Proyecto Alarma Sueño (C# .NET 9) ---

# SDK de Desarrollo
dotnet-sdk-9.0

# Dependencias del Proyecto (NuGet)
Microsoft.Extensions.DependencyInjection >= 10.0.2
Microsoft.Extensions.Hosting >= 10.0.2
NAudio >= 2.2.1

# Herramientas de Compilación y Firma
Windows-SDK-10 (signtool.exe)
PowerShell >= 5.1

# Estructura de Archivos Clave
AlarmaSueño/images/logo.png
AlarmaSueño/images/boton.png
AlarmaSueño/images/icon.ico
AlarmaSueño/Resources/alarm_sound.mp3
AlarmaSueño/quotes.json

# Firma Digital
Walter_Pablo_Tellez_Ayala_CodeSigning.pfx
Walter_Pablo_Tellez_Ayala_CodeSigning.cer
